.bbest-disclaimer {
  margin-top: 84px;
}

p {
  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: 992px) {
  .bbest-disclaimer {
    margin-top: 79px;
  }
}
